<div class="jumbotron">
    <h2>Login Form</h2>
    <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
      <div class="form-group">
        <label>帳號：</label>
        <input type="text" class="form-control" placeholder="請輸入帳號" 
          [formControl]="complexForm.controls['account']" required>
      </div>
  
      <div class="form-group">
        <label>密碼：</label>
        <input type="text" class="form-control" placeholder="請輸入密碼" 
          [formControl]="complexForm.controls['password']" required>
      </div>
  
      <div class="from-group">
        <label>性別：</label>
      </div>
  
      <div class="radio">
          <label>
            <input type="radio" value="Male" 
              [formControl]="complexForm.controls['gender']" name="gender">
            男
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" value="Female"
              [formControl]="complexForm.controls['gender']" name="gender">
            女
          </label>
        </div>
  
        <div class="form-group">
          <label>Activities</label>
        </div>
        <!--ngFor checklist 使用 Formgroup -->
        <!-- 綁定到單一屬性 [true, true, true] -->
        <div *ngFor="let activity of activities.controls;let i=index">
          <input type="checkbox"
            [formControl]="activity"> 
          {{ data.activities[i].name }}          
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-default">送出</button>
        </div>
    </form>

    <!--ngFor checklist 不使用 Formgroup -->
    <label class="checkbox-inline" *ngFor="let a of acc">
      <input type="checkbox" [value]="a.selected"
        [(ngModel)]="a.selected"> 
        {{ a.name }}
      </label>
      <pre>{{ acc | json }}</pre>
    <button type="button" class="btn btn-default" (click)="test()">直接綁定</button>
  </div>